@import '../../sass/globalStyles.styles'
    
.hero
    @include flexCenter(column)
    align-items: center
    margin-top: 2rem
    h4
        font-weight: 400
        font-size: 2rem

.hero-personal__info
    @include flexCenter(row)
    gap: 1rem

.hero-personal__info-location
.hero-personal__info-number 
    font-weight: 300

.hero-personal__info-email 
    font-weight: 500
    color: red


@media (min-width: 640px)
    .hero-personal__info
        flex-direction: column
