@import "../../sass/variables.styles"
  
.navbar
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 1.2rem

.navbar__logo
  h4
    cursor: pointer
    font-weight: bold
    text-decoration: none
    color: black
    border-bottom: 2px solid $app-primary;
    transition: 0.3s ease;
    &:hover
      border-color: white;

.navbar__lis
  width: 60%
  display: flex
  align-items: end
  justify-content: end
  gap: 1.2rem
  h4
    cursor: pointer
    font-weight: 400
    color: black
    text-decoration: none
    border-bottom: 2px solid $app-primary;
    transition: 0.3s ease;
    &:hover
      border-color: white;
