@import "./sass/globalStyles.styles"

.main-container
  font-family: 'Montserrat', sans-serif
  @include flexCenter(column)
  @include boxShadow()
  background: $app-primary
  border-radius: 1rem
  padding: 1rem
  margin: 1rem
